---
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/xcharter.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/pygment_trac.css">
    {% assign alternates = site.pages | where_exp: "page", "page.alternate != nil" | sort:"order" %}
    {% for alternate in alternates %}
    <link rel="alternate" type="{{alternate.alternate}}" title="{{alternate.menutitle}}" href="{{ alternate.url }}">
    {% endfor %}
    <style type="text/css">
      body { padding-top: 70px;} .externalLink::after { content: ' ⇗'; }
      a {font-family: "Fira Sans", sans-serif;}
      nav {font-family: "Fira Sans", sans-serif;}
      nav .featured {font-weight: bold;} nav#mainnav .active { font-style: italic }
      nav ul { padding-left: 0px; list-style-type: none;}
      .banner {font-size: 32px; padding-bottom: 4px; border-bottom: 12px solid rgb(25.5%,41%,88.4%);}
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% if page.type and page.type == "article" %}
    {% include article_metadata.html %}
    {% else %}
    {% include metadata.html %}
    {% endif %}
  </head>
  <body>
    {% assign home = site.pages | where:'menutitle', 'About' | first %}
    {% comment %} 
    {% assign responsible = site.pages | where:'responsible', true | first %}
    {% assign responsibleurl = responsible.url %}
    {% assign responsibleshort = responsible.short %}
    {% assign responsibletilte = responsible.title %}
    {% endcomment %} 
    {% assign responsibleurl = "http://programming-conference.org/steering/" %}
    {% assign responsibleshort = "AOSA" %}
    {% comment %} 
    {% assign pages = site.pages | where: 'name', 'index.markdown' | where_exp: "page", "page.category != nil" | sort:"order" %}
    {% endcomment %} 
    {% assign pages = site.pages | where_exp: "page", "page.category != nil" | sort:"order" %}
    {% assign all_categories = pages | group_by: "category" | sort: 'name' | reverse %}
    {% assign local_pages = pages %}
    <div class="container">
      <div class="row hidden-xs" style="position: relative">
        <div class="col-md-12">
          <div class="banner" >{{site.title}}</div>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-9 col-md-9 col-sm-9">
          {% assign featured_seen = false %}
          {% for feature in pages %}
              {% if feature.featured %}
                {% unless featured_seen %}
          <div class="well">
                  {% assign featured_seen = true %}
                {% endunless %}
                {% if feature.external %}
                  {% assign murl = feature.external %}
                {% else %}
                  {% assign murl = feature.url | remove: "index.html" %}
                {% endif %}
            <a href="{{ murl }}">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              &nbsp;{{ feature.featured }}
            </a><br>
              {% endif %}
            {% endfor %}
            {% if featured_seen %}
          </div>
            {% endif %}
          <section>
            <h1>{{page.title}}</h1>
            {% include submenu.html %}
            {% if page.lead %}<div class="lead">{{page.lead}}</div>{% endif %}
            {{content}}
          </section>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <header id="navbarheader" class="visible-xs">
            <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">

                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                  {% for category in all_categories %}
                  {% assign local_pages = category.items %}
                  {% comment %}
                  <!-- <li  class="h3"  id="sm-{{category.name | uri_escape | downcase }}">{{category.name}}</li> -->
                  <!-- <li><ul class="nav navbar-nav"> -->
                  {% endcomment %}
                    {% for menuitem in local_pages %}
                      {% assign liclass = '' %}
                      {% if menuitem.title == page.title %}
                        {% capture liclass %}{{ liclass }} active{% endcapture %}
                      {% endif %}
                      {% if menuitem.featured %}
                        {% capture liclass %}{{ liclass }} featured{% endcapture %}
                      {% endif %}
                      <li class="{{ liclass }}">
                      {% if menuitem.external %}
                        {% assign murl = menuitem.external %}
                      {% else %}
                        {% assign murl = menuitem.url|remove:'index.html' %}
                      {% endif %}
                      <a href="{{murl}}">
                        {% if menuitem.short %}
                          {{menuitem.short }}
                        {% elsif menuitem.menutitle %}
                          {{menuitem.menutitle }}
                        {% else %}
                          {{menuitem.title}}
                        {% endif %}
                      </a></li>
                    {% endfor %}
                  {% comment %}
                  <!--</ul></li>-->
                  {% endcomment %}
                    {% endfor %}
                  </ul>
                </div><!--/.nav-collapse -->
              </div>
            </nav>
          </header>
          <header id="mainheader" class="hidden-xs">
            <nav id="mainnav">
                <ul>
                  {% for category in all_categories %}
                  <li class="h3" id="main-{{category.name | uri_escape | downcase }}">{{category.name}}</li>
                  {% assign local_pages = category.items %}
                  <li><ul>
                    {% for menuitem in local_pages %}
                  {% assign liclass = '' %}
                  {% if menuitem.title == page.title %}
                    {% capture liclass %}{{ liclass }} active{% endcapture %}
                  {% endif %}
                  {% if menuitem.featured %}
                    {% capture liclass %}{{ liclass }} featured{% endcapture %}
                  {% endif %}
                  <li class="{{ liclass }}">
                  {% if menuitem.external %}
                    {% assign murl = menuitem.external %}
                  {% else %}
                    {% assign murl = menuitem.url|remove:'index.html' %}
                  {% endif %}
                  <a href="{{murl}}">
                    {% if menuitem.menutitle %}
                    {{menuitem.menutitle}}
                    {% else %}
                    {{menuitem.title}}
                    {% endif %}
                </a></li>
                    {% endfor %}
                  </ul></li>
                    {% endfor %}
                  </ul>
            </nav>
            <div class="hidden-xs" >
              <img src="{{ site.baseurl }}/assets/aosa.svg" class="pull-right" style="width: 50%; margin: 2em;" alt="AOSA, Inc" title="AOSA, Inc">
            </div>
          </header>
        </div>
      </div>
      <footer>
      <div class="visible-xs" >
        <img style="height: 3em; padding: .5ex 1em" src="{{ site.baseurl }}/assets/aosa.svg" class="pull-right" alt="AOSA, Inc" title="AOSA, Inc">
      </div>
        <ol class="breadcrumb text-muted small">
        <li>{{site.title}}</li>
        <li>ISSN {{site.issn}}</li>
        <li>DOI <a href="https://doi.org/{{site.doi}}">{{site.doi}}</a></li>
        <li>
          © 2016–{{ 'now' | date: '%Y'}} <a href="{{ responsibleurl }}">
      {% if responsibleshort %}{{ responsibleshort }}
      {% else %}{{ responsibletitle}}
      {% endif %}
      </a></li>
      </ol>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/javascripts/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/javascripts/custom.js"></script>
  </body>
</html>
